.container-small {
  min-width:984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container-small {
    min-width:0;
    width: calc(100% - (48px * 2));
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .container-small {
    min-width:0;
    width: calc(100% - (24px * 2));
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .container-small {
    width: calc(100% - (16px * 2));
  }
}