.footer {
  min-width: 1184px;
  margin: 92px auto 24px auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer {
    min-width:0;
    width: calc(100% - (48px * 2));
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px auto 24px auto;
    width: calc(100% - (24px * 2));
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    margin: 64px auto 24px auto;
    width: calc(100% - (16px * 2));
  }
}